<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LoginAsLender</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
    #login-div{
        width:400px;
        height:500px;
        position: fixed;
        top:30%;
        left:35%
    }
</style>

<body>

    <% include partials/navbar %>

    <div id='login-div'>
        <h1 class='display-4'>Submit your proposal here!</h1>
        <br>
        <form method="POST" action="/newproposal">
  <div class="form-group">
    <label>Rate of Interest per month</label>
    <input type="text" class="form-control"  placeholder="roi" name="roi">
  </div>
  <button id='submit-btn'>Submit</button>
</form>
        
    </div>
</body>
</html>