<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    #choice{
        margin-top:22%;
        margin-left:38%;
        width:300px;
    }
    .local{
        text-decoration-style: none;
    }
</style>

<body>
    <% include partials/navbar %>
    <div id='choice'>
        <a href='/upload' ><h3 class='local'>Upload new Invoice</h3>  </a><br>
        <a href='/displayS' > <h3 class='local'>Check Status</h3> </a>
    </div>
</body>
</html>